<div class="game-display">
  <h2> Time left : {{chrono$ | async}} </h2>
    <h2>{{ movie.title }}</h2>
    <img [src]="movie.imageURL" [alt]="">
    <form (ngSubmit)="onSubmitForm()">
      <mat-form-field class="example-full-width">
        <mat-label for="nomDeFilm">Nom du film</mat-label>
        <input type="film" id="nomDeFilm" [(ngModel)]="this.movie.choixDuJoueur" name = "userFilm" matInput placeholder="Ex. Texas Ranger" >
      </mat-form-field>
      <button mat-raised-button type="submit">OK</button>
    </form>
    <p>Score : {{ movie.score }}</p>
    <button mat-raised-button routerLink="" class="btn">Revenir au menu</button>
  </div>